[2018-10-15 01:25] li-xinyang opened #1 "Does It Available in Chrome Extension Store"
Does this extension available for Google Chrome? The link is to Mozilla Firefox store.

[2018-10-19 11:35] meetDeveloper commented on #1
This extension is available in Mozilla Firefox as of now. I will soon, by tomorrow will also publish it on Google Chrome. Also there is another extension by [google  ](https://chrome.google.com/webstore/detail/google-dictionary-by-goog/mgijmajocgfcbeboacabfgobmjgjcoja?hl=en) that you can use in the meanwhile.

[2018-10-20 02:51] li-xinyang commented on #1
Thanks for the response. I have tried the extension from Google but I do not like it due to its limited word definitions which requires me to open a new tab to find out more.

[2018-10-20 12:33] meetDeveloper commented on #1
This extension uses define word, suppose you want to know meaning of hello, you google define hello, so my extension uses that.

[2018-10-24 06:17] meetDeveloper commented on #1
I have made the extension for chrome, it is in currently in verification phase, and Google will check and review my extension, I will notify you once it is published.

[2018-11-01 04:11] meetDeveloper commented on #1
@li-xinyang  It is available now on chrome webstore here. https://chrome.google.com/webstore/detail/dictionary-anywhere/hcepmnlphdfefjddkgkblcjkbpbpemac/. If you find any bugs or want to see new feature kindly open an issue on github, I will be glad to implement it.

[2018-11-01 04:51] li-xinyang commented on #1
Thanks, I think I might help you with improving the extension visual style later point in time.

[2018-11-01 04:51] #1 closed

[2018-11-01 05:12] meetDeveloper commented on #1
@li-xinyang What all can be changed in visual style?

[2019-03-19 03:57] ratssam opened #2 "Pop up gets cut off if it is on the right edge of the browser"
When I double click a word near the right edge of the browser, the pop up gets cut off because there is not enough space to show it even though there is enough space to the left of the pop up.

![dictionary](https://user-images.githubusercontent.com/12492430/54579352-57607b00-49c0-11e9-9630-2fca77afe187.PNG)

[2019-03-24 07:23] meetDeveloper commented on #2
@ratssam I will fix it soon, thanks for telling. It feels good when people use what you made.

[2019-03-25 05:01] ratssam commented on #2
No problem. The other dictionary addons that I have tried that use google take a lot longer for the pop up to come up compared to yours. I will be looking forward to the fix.

[2019-03-25 16:43] meetDeveloper commented on #2
@ratssam I will let the issue be open till I fix it, it helps to track issue better.

[2019-06-27 21:09] lefuglyduck opened #3 "Google detects unusual traffic"
![Screenshot_2019-06-27](https://user-images.githubusercontent.com/31975903/60300759-8605c000-98e4-11e9-9286-c44340b1b1d9.png)

I'm a constant "double clicker" and this is causing me to get this message every time I google something. Maybe only get the definition after selecting a selection bubble?

[2019-09-22 05:15] meetDeveloper commented on #3
@lefuglyduck Sorry for the inconvenience, I will look into this.

[2019-09-25 21:25] cjung92 opened #4 "Not Populating Definitions in Firefox"
Have disabled/enable, reset Firefox, etc.

Popup is working, but definitions are not populating.

Firefox v69.0.1

[2019-09-26 15:48] meetDeveloper commented on #4
I will fix this in this weekend, thank for using my extension, it feels good when someone from across the world is using the thing you made.

[2019-09-26 16:45] meetDeveloper commented on #4
I actually fixed it, you can update and see if it works, thank for using my extension, it feels good when someone from across the world is using the thing you made.

[2019-09-26 16:48] meetDeveloper commented on #3
@lefuglyduck Actually request never goes to google if you just double click, It goes to fetch data only when you select some text. I checked it again, are you sure this is the only reason that you this error is occurring to you.

[2019-09-26 16:57] meetDeveloper commented on #2
@ratssam I am fixing this today.

[2019-09-26 18:03] lefuglyduck commented on #3
@meetDeveloper, Actually double clicking on any words in a browser will select the text! Try it.

[2019-09-27 02:18] meetDeveloper commented on #3
That I know, it was intended to send request to Google on selection of word
so that I can show meaning of the selection, what exactly do you want to
achieve?

On Thu, Sep 26, 2019, 11:33 PM lefuglyduck <notifications@github.com> wrote:

[2019-09-27 14:43] cjung92 commented on #4
Updating it works! I had automatic updating on but it didn't update until I checked for updates manually I guess. Oh well.

Yours is the only inline dictionary I can find. All the other ones require more effort to use. Good work!

[2019-09-27 14:44] #4 closed

[2019-09-28 02:10] meetDeveloper commented on #4
@cjung92 Thanks :)

[2019-09-28 02:10] meetDeveloper commented on #3
@lefuglyduck Can you explain this part `Maybe only get the definition after selecting a selection bubble`??

[2019-09-28 22:12] lefuglyduck commented on #3
For example, after double clicking a word (ie selecting a word), a little pop-up bubble would appear. Only after selecting said bubble would the definition be fetched.

[2019-09-28 22:13] lefuglyduck commented on #2
Awesome, thanks

[2019-09-29 03:18] meetDeveloper commented on #3
@lefuglyduck Actually that will make experience not good, I can give option in which person can assign some key, say suppose ctrl, then whenever he clicks double click + ctrl, then only popup will appear. Will that solve your issue?

[2019-09-29 03:24] lefuglyduck commented on #3
Yes that would work. Oxford by Oxford Dictionary, has an option as I've described, it's called "display word selection bubble" in the preferences for that extension.

[2019-09-29 04:38] meetDeveloper commented on #3
@lefuglyduck  Can you give me screenshot how oxford extension does that?

[2019-09-29 15:31] lefuglyduck commented on #3
![da](https://user-images.githubusercontent.com/31975903/65834797-8622ac80-e293-11e9-9eb4-b6019c423bd5.png)

[2019-10-03 06:18] huytd opened #5 "The lookup isn't work anymore"
I just noticed that the plugin doesn't work recently, it seems like Google just changed the UI, so the query selectors we're using isn't correct anymore.

I'll open a PR to fix that.

[2019-10-10 04:09] HubKing opened #7 "Feature request: Langauge selection"
I was looking for the Chrome's "Google Dictionary" equilvalent. It seems that this add-on is showing the same data as the official Google extension. However, Google's one automatically detects foreign languages and shows English translation for that, while this addon shows "Sorry" or a wrong definition, etc.

Google's
![image](https://user-images.githubusercontent.com/10900489/66538278-ae958b00-eb

[2019-10-12 14:39] HubKing opened #8 "Feature request: modifier key or menu in the toolbar"
After using it for a while, often it shows the pop-up when I double-click a word just to select it.

Google's dictionary extension on Chrome has settings to show the pop-up only when a modifier key is pressed when double-clicking. This could be useful.
![image](https://user-images.githubusercontent.com/10900489/66703038-1a3b4c00-ed49-11e9-8447-c948bb456fae.png)

Or, how about showing an icon in th

[2019-10-23 01:41] sandangel opened #9 "Audio not working: Content Security Policy: Blocking insecure request"
Audio feature is not working in firefox 71
when I open the console, it has this error:
[code]

[2019-11-28 01:59] nadesco commented on #3
Do you use a VPN? If so then that message you get might be caused by other users on the vpn network all accessing google's servers through one of their servers. I get this message sometimes when going to youtube. If I change servers on the vpn network to one that is not as busy then the message doesn't appear.

[2019-12-05 02:18] nadesco opened #10 "Doesn't work in the comments section"
Great little addon but it doesn't work properly on this site: www.zerohedge.com .
The pop-up window appears when any word is double clicked within the article itself but it doesn't show in the comments section for some reason.

[2019-12-05 15:25] meetDeveloper commented on #10
@nadesco I did a preliminary analysis, it looks like they stop the click event to bubble up, and so my extension is unable to capture that some click happened, and so is not showing any meaning.

[2019-12-05 15:32] meetDeveloper commented on #10
I have to look more into it, I tried capturing event even that does not work, somehow.

[2019-12-05 15:34] meetDeveloper commented on #9
@sandangel I tested it on firefox 71, Windows 10, it seems to be working in my firefox, are you able to reproduce it?

[2019-12-05 15:35] meetDeveloper commented on #8
Nice, I am unfortunately not getting time enough to build this feature, I will sit this weekend and implement this. Thank you for your suggestions.

[2019-12-05 15:36] meetDeveloper commented on #7
@HubKing I will implement global language setting this weekend. And whereas the setting to show radio button in popup, I have to think about that.

[2019-12-05 15:37] meetDeveloper commented on #5
@huytd Does this still exist?

[2019-12-05 15:42] sandangel commented on #9
maybe because it's http. I'm not using this ext anymore. closing

[2019-12-05 15:42] #9 closed

[2019-12-05 17:03] huytd commented on #5
It's working now. Thanks @meetDeveloper

I didn't notice that the issue won't be closed if I close the PR :D

[2019-12-05 17:03] #5 closed

[2019-12-05 17:27] meetDeveloper commented on #9
@sandangel Why? Are there any more issue you found?

[2019-12-11 10:38] francescor opened #11 "Privacy issue"
addon is great, thanks: it is simple and working, really, perfect!

Only one pretty serious privacy issue:

I handle my passwords with a password store application: and, of course, I cut and paste passwords all day long: my password store show me
* link
* username
* password

so I do, very often, cut and paste, in sequence, all these data :(

Now, of course, I do realize that with this extension,

[2019-12-13 06:18] meetDeveloper commented on #11
@francescor I have implemented this, will update the extension by today.

[2019-12-14 05:44] meetDeveloper commented on #11
@francescor Added trigger key, update your extension, and see if that suits you.

[2019-12-14 05:45] meetDeveloper commented on #8
@HubKing @mpaunovic Added trigger key, update your extension, and see if that works for you.

[2019-12-14 05:46] meetDeveloper commented on #7
@HubKing Added language selection, currently language available other than English are, Spanish, German, French. Check if that works for you.

[2019-12-14 18:59] francescor commented on #11
wow, this is really great!
I confirm the update, and funcionality, thank you so much

[2019-12-15 03:31] meetDeveloper commented on #11
@francescor Your issue was the one that pushed me to just sit this weekend and finish all the issues, I added languages also and also option to save history of words, so in a way thank you.

[2019-12-15 03:31] #11 closed

[2019-12-21 19:50] HubKing commented on #8
The modifier key works. Thanks.

[2019-12-21 20:15] HubKing commented on #7
Thanks for your work. The default language option is just like Google's own extension, and it is useful it its way. But this does not help in my case.

The reason is that there two words of different languages could have the exact same spelling. Google's Dictionary extension seems to determine the language based on the context (I don't know how they do that, maybe A.I or something), and I need to

[2019-12-22 04:31] #8 closed

[2019-12-22 04:32] meetDeveloper commented on #3
@lefuglyduck Extension now supports trigger key, which you can enable, then request to google will decrease a lot, and will not go on any double click, can you check and respond if that works for you?

[2019-12-22 04:33] meetDeveloper commented on #3
What @nadesco says could be a possibility because dictionary anyway never request google unless you select a word which is more than one letter. @lefuglyduck

[2019-12-22 06:27] lefuglyduck commented on #3
I do use a VPN, but that isn't the issue. I get the "robot" message even when I'm not using the VPN (most of the time).

Yes, it works again. Thanks.

[2019-12-22 07:31] meetDeveloper commented on #3
@lefuglyduck Umm, Extension never send request to google if word is not selected, I think problem is somewhere else.

[2019-12-27 14:01] meetDeveloper commented on #7
@HubKing The drop down is actually shown correctly, I have tried it, can you try again?

[2019-12-27 14:01] meetDeveloper commented on #7
@HubKing Your point about the language is correct, I will add these soon.

[2020-03-26 09:00] chriscz commented on #10
@meetDeveloper I recall once having a similar issue in a web-app and I opted for a solution that finds the element at the coordinates under the cursor click. This may not be an efficient solution if it's the primary one, however if you use it as fallback (i.e. no event after 20ms of clicking) it may work.

[2020-04-02 11:35] davidde opened #13 "Do Google search if dictionary can't find anything (e.g. for technical terms)"
First off, I'd like to thank you for this wonderful plugin. It is a great replacement for the Google Dictionary Chrome plugin.

However, for some words (e.g. technical jargon, brand names, etc.) a regular dictionary will not find anything. In this case, this plugin's popup simply returns "No definition found", while the Google plugin also offers to "Search the web".

This would be a great usabilit

[2020-04-22 14:11] meetDeveloper commented on #3
Closing this issue as trigger key solved it for the user. cc @lefuglyduck

[2020-04-22 14:11] #3 closed

[2020-04-24 07:08] tigerjack opened #14 "French - popup frozen in "search mode""
I was trying this add-on to have monolingual definition; while it seems to work for English words, that is not the case for French ones. Every time I double-click on a word, the pop-up is frozen in the same state of the attached picture
![image](https://user-images.githubusercontent.com/8199216/80184544-1434fa80-860b-11ea-962f-94f786d904d7.png)

[2020-05-05 15:08] bhch commented on #10
It's a long standing bug (19 years!) in Firefox. See: https://bugzilla.mozilla.org/show_bug.cgi?id=85686 `Selection.toString()` returns empty string on inputs and textareas.

Alternative way I can think of is to listen to `onselect` event fired by form fields which will work correctly.

But then again, this extension's initial purpose was to help in looking up meanings **while reading**, not while

[2020-05-08 02:07] chuaweijie opened #15 "Missing logo in Google Chrome Extension Listing"
![image](https://user-images.githubusercontent.com/1115861/81362468-26369300-910b-11ea-95fb-1cfee7f04bb0.png)

Hi there. Your project has contributed to my growth and I'd like to contribute back to it. I noticed that the application's logo is now showing on the Chrome Webstore's listing.

I know how to fix this so I'd like to branch this and contribute to your code. May I do so?

[2020-05-14 16:25] meetDeveloper commented on #15
@chuaweijie Sure, go ahead. Thanks for the support

[2020-05-15 02:49] chuaweijie commented on #15
I've edited the code, created the necessary icon and created a pull request.

I would suggest you create a 440 X 280 JPG file and upload it to the canvas
![image](https://user-images.githubusercontent.com/1115861/82006106-3f9e8880-9691-11ea-971e-c8aa80c02e4c.png)

That will show up here.
![image](https://user-images.githubusercontent.com/1115861/82006149-57760c80-9691-11ea-900a-ac8b1e29289c.png)

[2020-05-17 14:35] dbads opened #17 "Save the words"
It would be great to see an option in the meaning popup to save the word, so that I can go through them again in the future to memorize and all.

May be the words can be stored in a file and let users know the words they save.

[2020-05-17 15:31] meetDeveloper commented on #17
@dbads There is already such setting you can go to options and check the box that says save the word that I search for. Also can you tell me how can I make the more obvious to user that this options is given, it has been months since this option is given, I want to increase its reach. Thank you

[2020-05-18 04:48] dbads commented on #17
@meetDeveloper oh yeah I see the option to download the history. Well this is what I think can be enhanced -
- An option to see the saved words in the bottom of the meaning popup beside more link
- Also, there could be a checkbox in the more row giving users more control to save or not save the word selected
- Format the saved words are exported can be better. and if possible those files can be st

[2020-06-16 22:19] suruaku opened #18 "Google search"
After using the extension for a while I noticed bunch of "define <word>" in googles' history. I assume the extension is just googling for the definition? Even though I saw you have made API for it. However it's pretty annoying when my google history is full of those define searcher because I use the extension a lot(it is really nice).

[2020-06-17 05:44] meetDeveloper commented on #18
@suruaku Hmm, I never knew that history gets populated for that, which browser are you using?

[2020-06-17 05:45] meetDeveloper commented on #18
@suruaku I am not using my API, as it might get rate limited because of upstream server, and I do not want user to suffer due to API rate limit.

[2020-06-17 05:46] meetDeveloper commented on #17
@dbads Thanks for your input I will open new tickets for tracking this, closing this ticket as it might incorrectly portray that extension does not support saving words yet.

[2020-06-17 05:46] #17 closed

[2020-06-17 08:07] suruaku commented on #18
I am using Firefox 77.0.1 (64-bit) from snap on Ubuntu. History looks like [this.](https://i.imgur.com/TDvtcnx.png)

[2020-06-17 10:02] meetDeveloper commented on #18
@suruaku I have fixed this in latest version, have updated extension to v1.0.3 Basically I have omitted credentials in fetch request so that cookie does not get send and that way now your history won't be affected. You can look at this [commit](https://github.com/meetDeveloper/Dictionary-Anywhere/commit/dc7ffb5e90e544e91abcb0e29d02b2745168c7ce)

[2020-06-17 10:04] meetDeveloper commented on #10
@chriscz How would I know that person has clicked somewhere if that event is not bubbled up?

[2020-06-17 10:04] meetDeveloper commented on #10
@chriscz Sorry for delay in reply, life got me busy these months.

[2020-06-17 12:15] suruaku commented on #18
Awesome, it works. thanks a lot!

[2020-06-17 12:15] #18 closed

[2020-06-17 12:36] chriscz commented on #10
No problem. That's how it goes! :sweat_smile: From what I recall you could either add an overlay or catch the mouseup event. These two SO Q's have some interesting approaches to bypassing or catching those:
- https://stackoverflow.com/questions/11533098/how-to-catch-mouse-up-event-outside-of-element
-https://stackoverflow.com/questions/8054429/how-do-i-handle-a-click-anywhere-in-the-page-even-when

[2020-06-17 13:10] meetDeveloper commented on #18
@suruaku Are you `poik444` on Mozilla Addons?

[2020-07-15 04:12] aeltee opened #19 "Popup not displaying, Firefox 56"
On my Firefox 56 install, dictionary anywhere does not show the definition pop up when double clicking words. I have set the dom.webcomponents.shadowdom.enabled boolean to true. I can however see that in the extension options, the number in the word history is increasing with the words I am trying to show the definition pop up for. Is there any other setting for Firefox 56 that might be preventing

[2020-07-15 04:59] meetDeveloper commented on #19
The add-on supports Firefox version 57 and above, is there any reason that
you are still on version 56?

On Wed, Jul 15, 2020, 9:42 AM aeltee <notifications@github.com> wrote:

[2020-07-15 05:04] meetDeveloper commented on #19
I think Shadow Dom is not fully supported in Firefox 56.

On Wed, Jul 15, 2020, 10:29 AM Suraj Jain <srjjain1996@gmail.com> wrote:

[2020-07-15 05:28] meetDeveloper commented on #19
Can you check console when you double click any word, it might show some
error that we can use to find the problem

On Wed, Jul 15, 2020, 10:34 AM Suraj Jain <srjjain1996@gmail.com> wrote:

[2020-07-15 11:15] tienthanh8490 opened #20 "No longer working with any query"
Hi, I first installed the extension 2 days ago and at that point everything works. Now whenever I click on an English word, it always return a "not found" result no matter how simple the word is. So I suspect something is off with the query. Not sure if it's because of my setup or it's due to the plugin. In any case, I'm happy to help, just let me know what steps are needed.

My setup: Firefox 78.

[2020-07-15 17:13] meetDeveloper commented on #20
Could you open your console and check once what error if any does my extension is throwing?

[2020-07-15 18:27] tienthanh8490 commented on #20
Thanks, I just tried again and it works now. There is no error in console. Any clue what happened ?

[2020-07-16 03:35] aeltee commented on #19
Here are a few of the console results upon double clicking 3 different words:
TypeError: hostDiv.attachShadow is not a function[Learn More]  dictionary.js:66:9
All candidate resources failed to load. Media load paused.  _generated_background_page.html
TypeError: createdDiv is undefined[Learn More]  dictionary.js:151:13
ReferenceError: AbortController is not defined[Learn More]  github-bootstrap-c8

[2020-07-16 05:20] meetDeveloper commented on #19
Can you tell me where is `Works with Firefox 48.0 and late` written? What all extensions do you have that you are not able to get in new Firefox, I could find those for you or if I get time will build those extension.

I am planning to add host of languages soon, I have my dictionary API hosted at dictionaryapi.dev. I am currently making it more stable and then use that to find meaning for any wor

[2020-07-17 19:41] meetDeveloper commented on #20
Nope, no idea per say. I guess we can just wait to have this kind of issue happen again. Closing this till then. Thanks for using my extension.

[2020-07-17 19:41] #20 closed

[2020-07-17 19:41] meetDeveloper commented on #19
@aeltee

[2020-07-17 20:05] meetDeveloper commented on #14
@tigerjack I have fixed this and updated my extension, updated extension will be available shortly. Sorry I should have taken care of this earlier.

[2020-07-17 20:05] meetDeveloper commented on #14
@akskos ^.

[2020-07-17 20:26] voger opened #22 "[Feature Request] Right click context menu instead of popup"
Can it be done so instead of double clicking, there could be an option in the right click context menu? I am too lazy to find the shift key and I need double click for other functionalities.

[2020-07-18 08:19] aeltee commented on #19
Can you tell me where is Works with Firefox 48.0 and late written?- https://addons.mozilla.org/en-US/firefox/addon/dictionary-anyvhere/versions/?src=featured

Extensions from Firefox 56 that I can't live without nor could I find satisfactory quantum alternatives:

Thumbnail Zoom Plus is one that I sorely missed in Firefox 79 as I just got so used to it. On mouse over most images/thumbnails auto po

[2020-07-19 13:04] syverik opened #23 "Great extension/add-on"
Need whitelist the url(s) for my ad block, if possible please list them n would be highly appreciative. By for now

![webster](https://user-images.githubusercontent.com/53056881/87875329-9d579580-c99e-11ea-8cb2-9fae954d4e07.png)

[2020-07-20 13:55] meetDeveloper commented on #14
This bug has been fixed in v1.0.6 of the extension and the version is available on mozilla website, kindly update (It should automatically update, if automatic updates are not turned off). Sorry for the inconvenience. @tigerjack @akskos.

[2020-07-20 13:55] #14 closed

[2020-07-21 16:25] meetDeveloper commented on #23
@syverik are you the one with slashdot website problem?

[2020-07-21 16:27] syverik commented on #23
Well you are a smart person, and yes I am

[2020-07-21 16:28] meetDeveloper commented on #23
@syverik Looking into this. Is this problem only experienced when you turn on adblock?

[2020-07-21 16:31] syverik commented on #23
Yes, I recently switched uBlock Origin and have the same problem persists, only on this site(slashdot) that I have noticed so far. If I turn off completely and wait the extra for the ads load then I can see the definitions on slashdot using your amazing, flabbergasting add-on

[2020-07-21 16:33] meetDeveloper commented on #23
@syverik Hmm, i noticed that when i turned off the ublock origin and then reload the page, the popup shows, but if I turned on it does not show. You waited for ads to show when you turned off ublock origin without reloading the page right?

[2020-07-21 16:37] syverik commented on #23
Correct

[2020-07-21 16:39] syverik commented on #23
ublock on = does not work
ublock off = does work

[2020-07-22 06:10] meetDeveloper commented on #23
I found the cause, that some css style sheet that ublock origin apply to slashdot makes the display none for my addon.

[2020-07-22 06:15] syverik commented on #23
And I'm taking it there is no work around? Appreciate you looking into this, shall still use your add-on for other stuff

[2020-07-22 08:30] meetDeveloper commented on #23
There is a way, ideally this should not have happened as I am using shadow DOM so styling from outside should not have bleed in. But somehow this is happening, I need to find out why.

I will look into this closely and promise a fix soon. Sorry for the inconvenience.

[2020-07-22 12:11] syverik commented on #23
Much respect for what you are doing, almost like you are reinventing the pencil with this app. Don't know how to say how much easier this makes learning new words for me. Was reading Webster, more recently highlighting and searching on the googol or using my voice for those alexa or nest hubs while reading many a book(of forgotten lore :P) so I don't waste so much finding a word that I've already

[2020-07-26 21:44] DyeffersonAz opened #24 "Extension is storing the words and there is no way to disable it."
I'm on Firefox 78.0.2, and I can't unable this option from the extension. When I deselect the option and save the settings, it still doesn't save when I refresh the tab.
![image](https://user-images.githubusercontent.com/16638560/88490076-5ace2400-cf6f-11ea-8f17-ab156366f0a6.png)

[2020-07-27 10:08] Sav22999 opened #25 "Add Italian"

[2020-07-27 22:37] meetDeveloper commented on #24
@DyeffersonAz sorry for the inconvenience, I will look into it.

[2020-07-28 07:17] tsundokul opened #26 "Alternative source lookup"
Whenever I use VPNs the extension stops working because of Google's captchas in requests. Can you add support for some alternative lookup location, such as duckduckgo?

e.g. `https://duckduckgo.com/?q=egalitarianism&ia=definition`

[2020-07-29 07:21] meetDeveloper commented on #26
I have created an API, I will give option to shift to that API soon, I just want to make the API stable first that is why not gave the option yet.

[2020-08-02 08:26] tsundokul commented on #26
That's fantastic, thank you for the quick reply!

[2020-08-04 09:01] endlessbest opened #27 "the extension(ver: 1.0.6, last updated: August 4, 2020) is not working as before"
this is an excellent extension, it worked well in a few days ago, but it constantly pop up "Sorry, no definition found"  whatever words are double clicked. did the update change something? i use firefox with proxy, please help.

[2020-08-04 09:09] meetDeveloper commented on #27
Can you try once after turning off the proxy. I feel proxy is causing issue.

[2020-08-05 01:12] endlessbest commented on #27
it's working today, i don't know what happened cause i still use the proxy. it may be my environment's issue but I'm not sure. thanks for replying, this is a gorgeous extension, i love it so much. would you like add a phonetic notation after the speaker icon if possible? there is enough space for that and would be great of help.

[2020-08-06 02:09] endlessbest commented on #27
the problem occurs again, is there a way to show the debug info for locating the problem? i have to use the proxy cause I'm on the internal computer which can only access internet via proxy, there should no problem of the proxy cause i can post a comment here.

[2020-08-08 19:41] meetDeveloper commented on #27
Can you check the logs that come in console, might be easier to debug it then @endlessbest

[2020-08-10 01:30] endlessbest commented on #27
i can see nothing in the console when i double click a word, the popup window is shown as expected. it is also strange that in the "Network" tab, it seems there is no url request, doesn't the dictionary grab its explanation on web? did i miss something?

[2020-08-12 08:29] tsundokul commented on #27
@endlessbest check out #26, maybe it's the same problem, since you're using a proxy

[2020-08-12 08:43] endlessbest commented on #27
it may not be the same, i clearly remember that when the popup window says "Sorry, no definition found", i can still open the www.google.com and everything works fine besides this extension.  the extension is working well right now, when i press F12 to grab its network transmission, i can only see a "get" method which download the media file(mp3), how does it get the definition of the word?

[2020-08-12 09:42] meetDeveloper commented on #27
You can open the browser console, you will find the request to fetch the meaning there.
<img width="338" alt="Screenshot 2020-08-12 at 3 11 06 PM" src="https://user-images.githubusercontent.com/32453612/90000737-2916c600-dcae-11ea-9f97-2d54dbdbeff8.png">

[2020-08-12 09:48] endlessbest commented on #27
i installed this extension from [firefox add-ons manager](https://addons.mozilla.org/en-US/firefox/addon/dictionary-anyvhere), i can't see any console log, how can i get a debug version which has console output?

[2020-08-12 10:08] meetDeveloper commented on #27
@endlessbest Do you see the request to fetch meaning in browser console?

[2020-08-17 01:28] endlessbest commented on #27
no, that's strange, i can only see the request to fetch a media file. thanks for helping me all the time.
![1597627468(1)](https://user-images.githubusercontent.com/17191003/90349237-af932500-e06b-11ea-8c52-d1e13d8701a5.png)

[2020-08-17 21:23] MasonGreen365 opened #28 "Dictionary double-click does not pop up in Firefox PDF viewer"
Just installed extension, checked that boolean was enabled. When using the built-in PDF viewer on Firefox, there is no popup.

[2020-08-30 11:01] meetDeveloper commented on #28
I will look into this.

[2020-08-30 11:04] meetDeveloper commented on #19
@aeltee I looked why it is showing that, I will fix that and if got time will work on the other addons that you suggested that are not available in current firefox versions. I am extremely sorry that you are not able to use the extension due to this. I will in next weekend modify the code a little and provide you the extension that works with your browser version.

[2020-08-30 11:06] meetDeveloper commented on #23
@syverik Thanks a lot :)

[2020-08-31 05:07] gomain commented on #10
Also not working in [leanpub.com](leanpub.com) read-online.

[2020-09-07 11:13] ZiluTian opened #29 "Audio language mismatches the text language"
Hello,

I recently run into a problem of mismatching between the text and audio. Consider a selected French word, the translation detects it as French, but the audio pronounces it as an English word.

Thanks,
Zilu

[2020-09-11 11:14] meetDeveloper commented on #24
@DyeffersonAz @mpaunovic This has been fixed in the latest release of extension, kindly update the extension. Let me know if you still face the problem.

[2020-09-13 06:21] #24 closed

[2020-09-22 12:22] Tobormai opened #30 "Pop-up bubble not visible for BBC articles."
When reading BBC article (sample below) pop-up bubble is displayed behind article_container. Can see outer edge of bubble in some instances so know it is working, but contents not readable.

**Sample article**: https://www.bbc.com/future/article/20200918-the-fiasco-of-the-us-swine-flu-affair-of-1976.

[2020-09-22 12:49] meetDeveloper commented on #30
@Tobormai Sorry for the inconvenience. This is caused by not having z-index, I have to research a bit and will fix this soon. Thank you for using my extension.

[2020-09-25 10:29] MaroshCZ opened #31 "Feature request: changeable language of definitons"
Your addon is great but I would highly appreciate if we can set the language of definition. So if i clicked on german word I would get english definition. It would be great, especially for non-native speakers.

[2020-09-29 06:53] endlessbest commented on #27
it works well recently,  it could be something wrong with my network, thanks for the help

[2020-09-29 06:53] #27 closed

[2020-10-01 03:23] riturralde opened #32 "Feature request: Include phonetics"
It would be nice to include the phonetic pronunciation within the popup, e.g.:

[code]
Great job!

[2020-10-20 23:56] Tobormai commented on #30
No worries. Thank you for taking the time to develop. Ah yes, z-index.
Teaching myself CSS so appreciate the feedback. Well done!

On Tue, Sep 22, 2020 at 7:49 AM meetDeveloper <notifications@github.com>
wrote:

[2020-10-27 15:26] sadam10am opened #34 "Always loading problem"
When i double click a word it's always loading but never show result ,is this a internet problem or something else, i try to use google dictionary on Microsoft Edge and everything is fine.

[2020-11-11 00:04] maxorbase opened #35 "add feature to show all definition"
hi , tnx for your work, this add-on is perfect but if you add feature to show all definition it would be great
currently only show one or two definition

[2020-11-20 06:04] Psion05 opened #36 "Look-ups always have "Sorry no definition found""
I don't know when it started, but recently, all definition look-ups give me the "Sorry no definition found" error. I've tried reloading the extension but the problem still persists.
A few examples below.
**First one**
![image](https://user-images.githubusercontent.com/31981653/99765141-7237ab00-2b24-11eb-9c46-c6f8c1487686.png)
**Second one**
![image](https://user-images.githubusercontent.com/31981

[2020-11-25 04:01] meetDeveloper commented on #36
I have fixed this in v1.0.8 and it will be soon available on firefox addon site in 2-3 days, they review and it sometime take time for addon to get published.

Sorry for any inconvenience caused, thank you for using my extension.

[2020-11-26 05:32] meetDeveloper commented on #36
@Psion05 Closing this ticket in case you still find problem, kindly reopen it. :)

[2020-11-26 05:32] #36 closed

[2020-11-26 05:32] meetDeveloper commented on #34
@sadam10am It could be due to VPN, are you behind some proxy or connected to VPN?

[2020-11-26 14:56] sadam10am commented on #34
Yes ,i must use VPN to connect to google.I switch to another addon called “English Popup Dictionary” and didn’t have any problems . 😊 How can I fix this if I want use “dictionary anywhere” ? Sent from Mail for Windows 10 From: meetDeveloperSent: Thursday, November 26, 2020 1:32 PMTo: meetDeveloper/Dictionary-AnywhereCc: sadam10am; MentionSubject: Re: [meetDeveloper/Dictionary-Anywhere] Always load

[2020-11-27 19:01] Tarkus56 opened #37 "pfsense"
Any idea why NordVPN running on pfsense would block results from returning? It works fine when I turn off the VPN.

[2020-12-04 20:04] meetDeveloper commented on #30
@Tobormai Sorry for the inconvenience caused. I have fixed the issue in v1.0.10. Extension will soon be updated on mozilla addons, it takes a little time for them to review the extension.

Really thank you for using my extension. :)

[2020-12-04 20:04] #30 closed

[2020-12-04 20:07] meetDeveloper commented on #28
Sorry for inconvenience, This can't be fixed because firefox does not allow content script to run in pdf.

More information: https://bugzilla.mozilla.org/show_bug.cgi?id=1454760

[2020-12-04 20:07] #28 closed

[2020-12-07 17:54] meetDeveloper commented on #10
So found the issue, the comment section of zerohedge is in an iframe and my javasript runs in context of the page and so it does not catch click events that are done in the iframe. @chriscz @gomain

[2020-12-07 17:55] meetDeveloper commented on #37
I use google to find meaning and it is possible that that is being blocked by the VPN. @Tarkus56

[2020-12-08 06:05] nadesco commented on #10
Thanks for looking into that. It still doesn't work in the comments section unfortunately. I have uBlock Origin, NoScript (frames enabled) and Little Snitch installed and thought that a setting in one of those might have stopped the add-on from working properly, so I disabled all of them and tried again. There was no change but if it works on your machine then it might be a different setting or ap

[2020-12-08 06:21] meetDeveloper commented on #10
@nadesco I have not fixed this issue yet. 😅 I just found out the what is causing the issue. Need to spend some time thinking about solution.

[2020-12-11 02:19] Tarkus56 commented on #37
Would it be possible to add in options radio buttons for preferred translators? Google by default and perhaps duckduckgo.com and perhaps others that a user could select from?

Thank you for a wonderful app!

[2020-12-24 18:11] sp4050 opened #38 "Feature: hover mouse and press key to lookup"
Many times it is not possible to double click the word. In addition to double click, option to hover the mouse over word and press something e.g. Ctrl/Alt + q/z is what I think will make it super easy.

[2020-12-24 23:51] yfrolov opened #39 "Add Russian"

[2021-01-03 00:44] vertigo220 commented on #34
Same problem, no VPN or proxy. Waterfox 2020.12 (64-bit).

[2021-01-03 00:47] vertigo220 opened #40 "dom.webcomponents.shadowdom.enabled doesn't exist"
Addons page says to set dom.webcomponents.shadowdom.enabled to enabled, but my browser (Waterfox 2020.12 64-bit) doesn't have that; it only has dom.webcomponents.enabled, which did make a difference when setting to enabled though it still doesn't work (just says "Searching Please Wait...") as mentioned in issue #34.

[2021-01-03 00:48] vertigo220 opened #41 "Feature Request: Show synonyms and antonyms and possibly first few lines or so of Wikipedia entry if available"
Title says it all

[2021-01-03 10:00] meetDeveloper commented on #40
You also will need to enable dom.getRootNode.enabled. :) Then it will work for you.

I did not knew about waterfox browser, I will add this too in addons page and in github also so that future users of this extension does not face problem when using waterfox browser. :)

[2021-01-03 10:03] meetDeveloper commented on #38
I already have added trigger key, which you can turn on and choose trigger key. After that you need to press that trigger key (Cmd/Alt/Shift/Ctrl) along with double click to show the meaning.

Will this solve your purpose?

Also can you give example when it is not possible to double click the word?

[2021-01-03 15:14] vertigo220 commented on #40
Thanks! Works as expected now.

I'd also recommend adding a bit on what these two settings do and why they need to be changed. I've used lots of add-ons and don't recall ever having to change anything in about:config for them to work, including when using ones that generate pop-ups like this one does, so I wonder if there's a better way to achieve whatever is needed that requires them to be change

[2021-01-03 15:52] meetDeveloper commented on #40
I use shadow dom for the popup. I use Shadow DOM due to level of encapsulation it provides.
You can read more about this here. Shadow DOM is recently been made available in browser that is why older version of browsers does not have it and some have it behind a flag. Firefox v63.0+ have this automatically available and there is no need for any config change, not sure why Waterfox does not have it

[2021-01-03 16:05] meetDeveloper commented on #23
@syverik Can you try now and let me know, it should now be working. Sorry for very late reply, I fixed these kind of issues few days back and was now trying on this website, and now it was working.

[2021-01-03 16:11] meetDeveloper commented on #34
Closing this in favor of #37.

[2021-01-03 16:11] #34 closed

[2021-01-03 16:13] vertigo220 commented on #40
Thanks. A few follow-up questions:

- What do you mean by encapsulation?
- Why do you use it when other add-ons achieve pop-ups without it?
- Was there supposed to be a link in your reply? ("You can read more about this here.")
- What about dom.getRootNode.enabled?

[2021-01-03 16:19] meetDeveloper commented on #40
Yeah missed the link: https://glazkov.com/2011/01/14/what-the-heck-is-shadow-dom/

By encapsulation I mean by popup is separated from other things in page and their CSS does not affect my popup.
I use function _getRootNode_, you can read about Shadow DOM, this is regarding that only, I downloaded _WaterFox_ and tried the addon, and error was coming _getRootNode_ is not a function then I saw we hav

[2021-01-03 16:39] #19 closed

[2021-01-03 16:54] vertigo220 commented on #40
Thanks again. Looks pretty neat. Didn't understand it all, but the gist seems to be that essentially it's like an island for code in the page, like an iframe for a single object.

So getRootNode must also be enabled by default in newer/other browsers, and just disabled by default in Waterfox for some reason, so calling the function failed. Interesting. Anyways, it's good to know more about these e

[2021-01-15 17:09] zboor1234 commented on #37
SOLUTION
It has something to do with Googles interpretation of the IP address that the VPN assigns. There is currently a problem with my VPN (ExpressVPN) where google thinks the address assigned is in the United Arab Emirates. If you're not logged in to Google with your language set to English, then everything is in Arabic. This Dictionary extension does not query Google through a login.

Specific

[2021-01-19 16:07] sp4050 commented on #38
Let me give you examples where double click is an issue because that is the main reason I requested feature (which I had used in other dictionary)
-	When the sentence is hyperlink e.g. news headlines and many other lines in the paragraph.
-	When clicks are connected to other actions e.g. in twitter if you click a word on a tweet, it will expand the tweet rather than selecting word which is annoyin

[2021-01-24 13:35] Desjajja opened #42 "[Feature Request]Add Dark Mode"
This delicate and handy add-on is exactly the one I've been looking for. I could only love it more if the pop-up window can be optionally changed to dark colors.

[2021-01-28 01:51] gigaimage opened #43 "[Feature Request] pop-up "More>>" link. Configurable for other search engines."
Clicking "More>>" link on pop-up opens google search in a new tab.
Feature Request: User can set search engine of choice (DDG, Bing....) for "More>>" link in Preferences -> Extension Options.
My env: D-A add-on for FF on Mac, configured to a non-google search engine.

[2021-01-28 07:44] iaadityad commented on #42
instead why not make it dark always ?

[2021-01-28 09:22] Desjajja commented on #42
Oh man, I cannot find where to do so…😱

Sent from Mail for Windows 10

From: Aaditya Dwivedi
Sent: Thursday, January 28, 2021 3:44 PM
To: meetDeveloper/Dictionary-Anywhere
Cc: Desjajja; Author
Subject: Re: [meetDeveloper/Dictionary-Anywhere] [Feature Request]Add DarkMode (#42)

instead why not make it dark always ?
—
You are receiving this because you authored the thread.
Reply to this email direc

[2021-02-09 06:02] pacoverde opened #44 "Make Trigger Hey preference exclusively trigger pop-up"
When I set the "Trigger key" preference in Firefox 85.0 (64-bit) on mac OS 10.15.7 Catalina to e.g. "alt" the Trigger key preference works, however simply double-clicking a word continues to trigger the pop-up definition.

Sometimes I'm attempting to double-click a word in order to copy it or invoke some other function. I would prefer the Trigger Key preference be the **only** way to trigger the p

[2021-02-17 23:16] 33nano opened #45 "Feature Request"
Ability to select a custom search engine, instead of using Google. Duckduckgo is better for privacy concerns

[2021-02-18 01:38] itsdwivedi commented on #45
Duplicate of #43

[2021-02-18 06:10] 33nano commented on #45
Noted, closing now

[2021-02-18 06:10] #45 closed

[2021-03-17 21:15] raffaem opened #46 "Always return "No definition found""
Whatever the word I double click, the popup always return "No definition found"

![image](https://user-images.githubusercontent.com/54762742/111539503-404ef200-876e-11eb-8f67-eaa6317f61c8.png)

Firefox 86.0 on Ubuntu 20.10. Extensions installed from [here](https://addons.mozilla.org/en-US/firefox/addon/dictionary-anyvhere/).

Please help

[2021-04-02 04:58] twisthead commented on #46
i don't know why but my firefox on linux also shows sometimes this message but also it fixes itself after a restart or re enabling the add on. it's a bug i am sure.

[2021-04-03 17:34] raffaem commented on #46
Steps to reproduce:
1. Connect to [this site](https://www.eff.org/press/releases/schools-cant-punish-students-campus-speech-including-social-media-posts-eff-tells)
2. Double click on any word
3. "Sorry. No definition found"

[2021-04-03 17:36] raffaem commented on #46
@meetSuraj can you help?

[2021-04-06 09:33] tomislater commented on #28
Uhh, I miss this tool in PDF so much :/

Read Aloud add-on works in PDF files. Maybe something has changed? 🤔 BTW. I can help with that. I am going to research this topic soon.

[2021-04-06 10:18] twisthead commented on #46
![image](https://user-images.githubusercontent.com/75267529/113696158-455cec80-96ef-11eb-8059-3577abd3dae2.png)
here i connected to the said website and find a definition it returned the definition up and running.
as i was saying sometimes it doesn't find any definition, restarting browser or reinstalling would help maybe.

[2021-04-12 03:43] Pancakes0 commented on #46
just about to ask this. im also having this problem, tried even the most common words but says no definition found
![Screen Shot 2021-04-12 at 11 40 47 AM](https://user-images.githubusercontent.com/73923883/114337700-2e514b00-9b84-11eb-8cc0-9bf9da46c5f3.png)

[2021-04-12 11:48] daithi-salach opened #47 "Not working while using "Reader View""
In Brave Browser the dictionary doesn't work while using the Reader View extension. This is probably when I need it most, reading long passages!

[2021-04-22 16:01] rc05689 opened #48 "ER: Please add eugenics to dictionary & allow Dictionary Anywhere to work in the editable comments field of many websites"
Enhancement Request: Please add eugenics to dictionary and allow Dictionary Anywhere to work in the editable comments field of many websites.

[2021-04-23 10:54] nom3ad commented on #48
@rc05689  This extension is actually using google search behind the scenes.  https://www.google.com/search?q=define+eugenics doesn't yield dictionary result.

[2021-05-04 18:03] logarythmic commented on #46
I have the same issue as the op, but on every site. I've tried uninstalling and reinstalling.

[2021-05-10 07:52] AvverbioPronome commented on #25
@meetDeveloper do you have instructions on how I could make a pull request implementing this?

[2021-05-10 07:57] AvverbioPronome opened #49 "Feature request: allow multiple language selection"
Let's say I want to use the extension in English and French (and maybe Italian...) at the same time.

[2021-06-03 05:03] Psychocrysma opened #51 "Feature Request: Google Translate"
I used this extension on FireFox, but in the past had something similar (by Google) that was just like yours but slightly better on this part. I wish that double-clicking text in another language (language not selected, or multiple without a list), it would try to translate it over Google Translate. Would be really efficient.

[2021-07-02 17:12] sa1if3 commented on #46
Seems like a recurring issue. Selecting extra whitespaces.

[2021-07-04 02:05] LouCle opened #52 "Feature Request: Please show gender of words in French!"
As is known, French has two word genders, masculine or feminine. Since the spelling of several words in a sentence can be affected by the gender of one noun, it's pretty important information. It could be indicated like

"f. Boulangerie" or "m. Capital".

[2021-07-10 16:57] k0yz commented on #47
Can confirm this is not working on:
("Enter Reader View").

Name 	Firefox
Version 	89.0.2
Build ID 	20210622155641

[2021-07-18 19:58] tomislater commented on #47
On Windows 90.0 (64-bit) too.

[2021-07-18 21:08] tomislater commented on #47
https://bugzilla.mozilla.org/show_bug.cgi?id=1371786 ohh, okay. It is impossible now.

[2021-07-25 10:46] eldon97 commented on #42
i really need this feature.. please add it dev

[2021-10-06 08:53] aditya95sriram commented on #52
+1. Also applicable to German and Spanish.

[2021-10-06 15:05] ig-perez commented on #46
I can confirm this also happens to me. Fedora 33, Firefox 92.

![image](https://user-images.githubusercontent.com/33359427/136230555-18e9e14e-99d2-43eb-a8e5-35ef698f01b9.png)

As you can see in the picture no extra spaces are selected.

Thanks!

[2021-10-11 07:48] the-wat opened #56 "Option to change default search engine when more is pressed"
![image](https://user-images.githubusercontent.com/69153476/136751745-88fc9a5e-4fcb-4832-aaa8-db156b531a93.png)

Upon pressing more, it redirects to a Google search, so basically allow a larger customization by creating a toggle for search engine used. Some people prefer DDG and other search engines, so they might prefer to use the same for word definition searching.

[2022-01-03 14:51] onlycparra commented on #56
Yes, please. Not all of us want to use the same source for our definitions.

[2022-01-11 15:08] OutshineIssue opened #58 "Website blocklist"
I want to disable the popup on specific URLs, is it possible?

[2022-01-16 02:05] vggscqq opened #59 "[Feature Request] Add Czech support"
First of all thank you a lot for the extension. Been using it for a very long time to extend my vocabulary.
Since I started to learn Czech language I started to struggle trying to google all the words I read. If it's possible it would be nice to get Czech as an additional language to use.
As far as I understood the code it's not possible, cause google isn't show the definition for words in Czech.

[2022-02-22 22:38] 4Brad-23 opened #61 "[Out of context request] Please hear me out - Would it be possible for an offline "Potplayer" version of this helpful tool?"
"Potplayer" (Media player) allows subtitle word selection and with a tool like yours, it'll be very educational and close to a miracle. Thank you.

[2022-04-07 05:52] Psychocrysma commented on #46
Has anyone found a fix for this issue so far? I looked over the code, but I don't see anything obvious causing the issue.

[2022-04-19 03:10] boneyland commented on #46
What I experienced is: occasionally it happens, but always fixes itself when I look up the definition of the same word again.

[2022-08-21 04:07] ambaratti opened #62 "Pronunciation stopped working"
I've been using Dictionary-Anywhere for some time and it worked very well.
Now I configured it to use a trigger key (ctrl).
The popup appears when I `<ctrl><double click>` a word, the pronunciation icon appears and even blinks when clicked, but the is no audio.

Trying to set trigger key to `None` again, doesn't restore the pronunciation (tried even reinstall the add-on without success).

[2022-08-21 15:42] ambaratti commented on #62
Just forgot to tell that I've recently upgraded to Firefox 103.0.2 (but I'm not certain the problem occurred or not only after this).

[2022-08-21 15:49] ambaratti commented on #62
Inspecting the speaker button I've got this:
[code]

[2022-08-28 16:46] tencirin opened #63 "[Feature Request] Adding keyboard shortcuts on Firefox"
Hello,

On other browsers I usually use keyboard shortcuts to open this extension and search some word quickly. But on Firefox you cannot set a keyboard shortcut, it is listed under "The following extensions do not have shortcuts:" title when you open the extensions settings.

I think it would be nice to have keyboard shortcuts on Firefox too.

[2022-09-05 01:59] ambaratti commented on #62
It is working again with Firefox 104.0.1

[2022-09-05 01:59] #62 closed

[2022-09-14 05:48] raffaem opened #64 "No definition found"
Whatever word I double-click, no definition is found:

![image](https://user-images.githubusercontent.com/54762742/190069836-330c23be-4cf2-4928-b7b8-1e416a6ee481.png)

[2022-10-01 20:16] alesmuc commented on #25
I would like italian too :D

[2022-10-10 09:11] ovexro opened #65 "It Should Work On .PDF Files"
Hello.

With humbleness, may I politely ask the developers of this excellent dictionary extension to make it work on PDF files?

I read many books on my PC, most in PDF format.

What would it take to make this awesome dictionary extension compatible with PDF files?

Thank you! ^_^

[2022-10-23 09:23] godtaehee opened #66 "Hey guys, I add the feature which is interact with slack"
I added 1 feature:
- When I double click the word, This extension sends message to slack channel.

Can I deploy my app to firefox add-ons???

[2022-11-06 13:06] Vendillah commented on #43
#45 asks for a different search engine out of _privacy concerns_, since the extension (seems to me looking at [.](https://github.com/meetDeveloper/Dictionary-Anywhere)/[background](https://github.com/meetDeveloper/Dictionary-Anywhere/tree/master/background)/[background.js](https://github.com/meetDeveloper/Dictionary-Anywhere/blob/master/background/background.js)) constantly sends Google what word

[2022-11-14 06:44] nrj024 opened #67 "dictionary not working"
the extension is not working in any site.removed and adde again,made no difference